html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    background-color: #92c5ff;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

footer {
    text-align: center;
    justify-self: flex-end;
    margin: 10px;
    padding-top: 5px;
    width: 100%;
    border-top: 2px solid black;
}

h1 {
    font-family: 'Bungee Spice', sans-serif;
    font-size: 2.5em;
}

h2 {
    margin: 15px 0;
}

.quiz-container {
    background-color: white;
    border: 3px solid #50a2ff51;
    border-radius: 10px;
    width: 450px;
    height: 300px;
    padding: 15px 10px;
    border-top: 1px solid #c8e5ff;
    border-bottom: 1px solid #c8e5ff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question {
  border-top: 1px solid #c8e5ff;
  border-bottom: 1px solid #c8e5ff;
  padding: 15px 20px;
  margin: 10px 0 16px 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.buttons,
.play-again-button {
    font-family: 'Open Sans', sans-serif;
    border: 2px solid #48aaff;
    border-radius: 10px;
    color: #348efe;
    font-size: 1em;
    font-weight: 600;
    padding: 20px 50px;
    margin: 10px 0;

    width: 200px;
    height: 75px;
    
    transition: 200ms;
}

.play-again-button-container {
  display: flex;
  height: 190px;
  width: 450px;
  align-items: center;
}

.buttons:hover,
.play-again-button:hover, 
.buttons:focus, 
.play-again-button:focus {
    background-color: #48aaff;
    color: white;
    transform: scale(1.05);
    box-shadow: 0 0.5em 0.7em -0.4em #48aaff;
}

/* styles för start sidan */
.category-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* styles för start sidan */
.welcome {
    font-size: 2em;
    font-weight: bold;
}

@media (min-width: 768px) {
    h1 {
        font-size: 3.5em;
    }
}

.buttons.correct {
  background-color: #4CAF50; 
}

.buttons.incorrect {
  background-color: #f44336; 
}

.buttons.flash-correct {
  background-color: #4CAF50; 
  animation: flash 1s ease-in-out infinite; 
}

@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
